{% load staticfiles %}

<!DOCTYPE html>

<html>

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<head>
  <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="{% static 'js/recorder.js' %}"></script>
  <script src="{% static 'js/upload.js' %}"></script>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Live input record and playback</title>
  <style type='text/css'>
      @import url(//fonts.googleapis.com/earlyaccess/notosanskannada.css);
      .content{
        font-family: 'Noto Sans Kannada', sans-serif;
      }
      recordingslist audio {}
  </style>
  <style>
      table.a {
          table-layout: fixed;
          width: 180px;
      }
  </style>
</head>

<body>
  <!--左半邊-->
  <div class="w3-sidebar w3-bar-block w3-display-right w3-large w3-center content" style="width:50%;left:0">
      <div class="w3-container  w3-large w3-teal w3-text-black content" >
          <p>感謝幫忙錄製以下台語內容</p>
          <p>可以挑會唸的錄製即可，錄完可至文本下方檢查或挑選檔案</p>
          <p>提供音檔上傳麻煩請使用"錄1秒自動停止"</p>
      </div>
      <button type ="button" onclick="location.href='../'">回首頁</button>
      <p class="w3-xlarge">您的暱稱為<b> {{ rlt }}</p>
      <form id="language">
        請選擇錄音語言<br>
        <input type="radio" name="language" value="台語" checked="true"> 台語<br>
        <input type="radio" name="language" value="華語"> 華語<br>
        <input type="radio" name="language" value="英語"> 英語<br>
      </form>
      <div class="w3-panel w3-border-top w3-border-bottom w3-border-green">
          <div class="w3-xlarge">正在錄製的字:</div>
          <div class="w3-table-all w3-hoverable w3-xlarge">
            <table class=" a w3-bordered-red w3-black w3-text-black" id="wordtable" style="width: 100%" >
                <tr><td>編號</td><td>文本內容</td></tr>
            </table>
          </div>
      </div>
      <div class="w3-show-inline-block">
          <button type="button" class="w3-btn w3-black w3-round-xxlarge" onclick="preword(this);" id="preword">上一個詞</button>
          <button type="button" class="w3-btn w3-black w3-round-xxlarge" onclick="nextword(this);" id="nextword">下一個詞</button>
      </div>
      <span  disabled="disabled"  tyle="DISPLAY:none" id="stopStart"></span>
      <div class="w3-show-inline-block  ">
          <button type="button" class="w3-btn w3-blue w3-round-xxlarge w3-green " onclick="startRecording(this);" id="startRecording">錄</button>
          <button type="button" class="w3-button w3-light-blue w3-round-xxlarge w3-black" onclick="startRecording_autostop(this) ;" id="startRecording_autostop">錄1秒自動停止</button>
      </div>
      <div id="div1" class="w3-text-red w3-xlarge" style="display:none">
        <i class="material-icons" style="font-size:25px;color:red">mic_none</i>
          錄音中...
      </div>
      <div hidden class="w3-border w3-margin w3-large">
        <p>您的錄音有可能的結果<br>(根據機率大到小由左至右排列) <div id="recogResult" class="w3-xlarge w3-text-green"><b>開始錄音之後會在這為您顯示有可能的辨識結果</b></div></p>
      </div>
      <h2 hidden>紀錄</h2>
      <pre id="log" hidden></pre>
  </div>
  <!--右半邊-->
  <div style="margin-left:50%">
    <p><input id="file" type="file"/></p>
    <h1 id="textHead" class=" w3-button  w3-border  w3-hover-teal w3-border-blue w3-margin"><b>完整文本<i class="fa fa-angle-double-down" style="font-size:36px"></i><h5>點擊可隱藏或顯示</h5></h1>
    <div class="w3-table-all w3-hoverable w3-xlarge">
        <table  class="a w3-bordered-red w3-black w3-text-black " id="theTable" style="width: 100%" >
            <tr><td>編號</td><td>文本內容</td></tr>
        </table>
    </div>
    <h2 class=" w3-button w3-border  w3-hover-teal w3-border-blue w3-margin"><b>您錄製的內容</h2>
    <button type="button" class="w3-btn w3-black w3-round-xxlarge" onclick="download_all(this);" id="download_all">全部下載</button>
    <button type="button" class="w3-btn w3-black w3-round-xxlarge" onclick="delete_all(this);" id="delete_all">全部刪除</button>
    <button type="button" class="w3-btn w3-black w3-round-xxlarge" onclick="upload_all(this);" id="upload_all">全部上傳</button>
    <div class="w3-xlarge" id="uploading"></div>
    <ul id="recordingslist"></ul>
  </div>
</body>

<script>
  var audio_context; //瀏覽器錄音器相關
  var recorder; //錄音器
  var CHTwords = ['零','一','二','三','四','五','六','七','八','九','後退','前進','上','下','左','右','床','去','快樂','房屋','樹','鳥','貓','狗','志明','春嬌','可以','不可','開','關'];
  var TWwords = ['零','一','二','三','四','五','六','七','八','九','退後','進前','起去','落來','倒邊','正邊','眠床','去','快樂','厝','樹','鳥','貓','狗','志明','春嬌','會使','袂使','開','關'];
  var ENwords = ['zero','one','two','three','four','five','six','seven','eight','nine','backward','forward','up','down','left','right','bed','go','happy','house','tree','bird','cat','dog','marvin','sheila','yes','no','on','off']
  var words_th = 0; //第幾個字
  var TitleTable = document.getElementById("wordtable").innerHTML;
  var txt_content;
  var SELFwords = new Array();
  var fileName;
  //var result="";

  //右半邊顯示文本的內容
  /*
  window.onload=makeTable();
  function makeTable(){
      var wordsLen=CHTwords.length;
      var tableString;
      var originTable;
      for(var i=0;i<wordsLen;i++) {
          originTable = document.getElementById("theTable").innerHTML;
          document.getElementById("theTable").innerHTML = originTable + "<tr><td>" + i + "</td><td>" + TWwords[i] + "</td><td>" + CHTwords[i] + "</td><td>" + ENwords[i] + "</td></tr>";
      }
      document.getElementById("wordtable").innerHTML = TitleTable + "<tr><td>" + 0 + "</td><td>" + TWwords[0] + "</td><td>" + CHTwords[0] + "</td><td>" + ENwords[0] + "</td></tr>";
  }
  */

  function readFile() {
    file = this.files[0];
    var fReader = new FileReader();
    fReader.onload = function (event) {
        document.getElementById("theTable").innerHTML = TitleTable;
        txt_content = event.target.result;
        SELFwords = txt_content.split(" ");
        /* 測試用
        for(var i = 0; i < txt_split.length ; i++){
            console.log(SELFwords[i]);
        }
        */
        //抓檔名 去除副檔名
        var real_fileName = document.getElementById('file').files[0].name;
        fileName = real_fileName.slice(0,-4); //扣除最後".txt"4個字
        console.log(fileName);
        for(var j = 0 ; j < SELFwords.length; j++) {
          originTable = document.getElementById("theTable").innerHTML;
          document.getElementById("theTable").innerHTML = originTable + "<tr><td>" + j + "</td><td>" + SELFwords[j] + "</td></tr>";
        }
        document.getElementById("wordtable").innerHTML = TitleTable + "<tr><td>" + 0 + "</td><td>" + SELFwords[0] + "</td></tr>";
    };
    fReader.readAsText(file);
  }

  $(document).ready(function(){
    $("#theTable").slideToggle("fast");
    $("#textHead").click(function() {
        $("#theTable").slideToggle("fast");
    });
  });


  /*
  全部下載/刪除/上傳 編號規則
  按鈕按照順序編號 初始為 回首頁0 上一個詞1 下一個詞2 錄3 錄一秒4 全部下載5 全部刪除6 全部上傳7
  之後錄音則為 下載8 刪除9 上傳10 下載11 刪除12 上傳13 ...
  */

  //全部下載
  function download_all() {
      var myNodeList = document.querySelectorAll("button");
      var button_count = myNodeList.length; //按鈕數目
      var dataCount=8; //從第8個按鈕開始按
      if(button_count > 8) { //初始8按鈕
          for (var i = 8; i <= button_count; i += 3) {
              setTimeout(function() {
                  myNodeList[dataCount].click();
                  dataCount += 3;
                  },100*i); //每次間隔300毫秒
          }
      }
  }
  //全部刪除
  function delete_all() {
      var myNodeList = document.querySelectorAll("button");
      var button_count = myNodeList.length; //按鈕數目
      var delete_confirm = confirm("確定要刪除嗎?"); //刪除確認按紐
      if(button_count > 8 && delete_confirm === true) { //初始8按鈕
          for (var i = 9; i <= button_count; i += 3) { //從第10按鈕開始
              myNodeList[i].click();
          }
      }
  }
  //全部上傳
  function upload_all() {
      var myNodeList = document.querySelectorAll("button");
      var button_count = myNodeList.length; //按鈕數目
      var dataCount=10; //從第10個按鈕開始按
      if(button_count > 8) { //check data count
          document.getElementById("uploading").innerHTML = "上傳中...";
          for (var i = 10; i <= button_count; i += 3) {
              setTimeout(function() {
                  myNodeList[dataCount].click();
                  dataCount += 3;
                  if(dataCount === button_count - 1){
                      document.getElementById("uploading").innerHTML = "";
                      alert("全部上傳完成\n可以點選全部刪除，以免重複上傳");
                  }
                  },100*i); //每次間隔300毫秒
          }
      }
  }

  //上傳辨識
  function uploadAudioFromBlob_recog(blob) {
      var csrftoken = getCookie('csrftoken');
      var xhr = new XMLHttpRequest();
      xhr.open('POST', 'uploadRecog_server', true);
      xhr.setRequestHeader("X-CSRFToken", csrftoken);
      xhr.setRequestHeader("MyCustomHeader", "Put anything you need in here, like an ID");
      xhr.upload.onloadend = function() {
          // alert(result);
          //alert('錄音成功');
      };
      xhr.send(blob);
  }
  //錄音器紀錄
  function __log(e, data) {
      log.innerHTML += "\n" + e + " " + (data || '');
  }
  //錄音器初始化
  function startUserMedia(stream) {
      var input = audio_context.createMediaStreamSource(stream);
      __log('媒體流已創建');
      // Uncomment if you want the audio to feedback directly
      //input.connect(audio_context.destination);
      //__log('Input connected to audio context destination.');
      recorder = new Recorder(input);
      __log('錄音機初始化');
  }

  //錄1秒自動停止
  function startRecording_autostop(button) {
      recorder && recorder.record();
      div1.style.display='';
      button.disabled = true;
      document.getElementById("preword").disabled = true;
      document.getElementById("nextword").disabled = true;
      document.getElementById("startRecording").disabled = true;
      __log('錄音中...');
      //1秒自動停止
      setTimeout("autostopRecording()",1000);
  }
  //錄1秒自動停止 錄完後回復按鈕 並跳下一個字
  function autostopRecording() {
      recorder && recorder.stop();
      div1.style.display='none';

      __log('停止錄音');
      CreateDownloadLink();
      setTimeout(function() {
          nextword();
          document.getElementById("preword").disabled = false;
          document.getElementById("nextword").disabled = false;
          document.getElementById("startRecording").disabled = false;
          document.getElementById("startRecording_autostop").disabled = false;
          },500);
      recorder.clear();
  }
  //開始錄音
  function startRecording(button) {
      $("#startRecording").css("display","none");
      $("#stopRecording").css("display","block");
      recorder && recorder.record();
      div1.style.display='';
      button.disabled = true;//false
      //button.value ='停';
      document.getElementById("preword").disabled = true;
      document.getElementById("nextword").disabled = true;
      //document.getElementById("stopRecording").disabled = false;
      document.getElementById("startRecording_autostop").disabled = true;
      __log('錄音中...');
      $("#stopStart").after("<button type='button' class='w3-btn w3-red w3-round-xxlarge' onclick='stopRecording(this);' id='stopRecording' >停</button>");
      $("#startRecording").remove();
  }
  //開始錄音 按鈕按下去後變為停止錄音
  function stopRecording(button) {
      $("#startRecording").css("display","block");
      $("#stopRecording").css("display","none");
      recorder && recorder.stop();
      div1.style.display='none';
      button.disabled = true;//false
      //button.value ='錄';
      document.getElementById("preword").disabled = false;
      document.getElementById("nextword").disabled = false;
      //document.getElementById("startRecording").disabled = false;
      document.getElementById("startRecording_autostop").disabled = false;
      __log('停止錄音');
      CreateDownloadLink();//no next
      recorder.clear();
       $("#stopStart").after("<button type='button' class='w3-btn w3-green  w3-round-xxlarge' onclick='startRecording(this);' id='startRecording'>錄</button>");
      $("#stopRecording").remove();
  }

  //上一個字
  function preword() {
      if(words_th === 0) { //若為第一個字 按下按鈕後跳到最後一個字
          var th = SELFwords.length - 1;
          document.getElementById("wordtable").innerHTML = TitleTable + "<tr><td>" + th + "</td><td>" + SELFwords[th] + "</td></tr>";
          words_th = SELFwords.length - 1;
      }
      else {
          var th = words_th - 1;
          document.getElementById("wordtable").innerHTML = TitleTable + "<tr><td>" + th + "</td><td>" + SELFwords[th] + "</td></tr>";
          words_th = words_th - 1;
      }
  }
  //下一個字
  function nextword() {
      if(words_th === SELFwords.length - 1) { //若為最後一個字 按下按鈕後跳到第一個字
          var th = 0;
          document.getElementById("wordtable").innerHTML = TitleTable + "<tr><td>" + th + "</td><td>" + SELFwords[th] + "</td></tr>";
          words_th = 0;
      }
      else {
          var th = words_th + 1;
          document.getElementById("wordtable").innerHTML = TitleTable + "<tr><td>" + th + "</td><td>" + SELFwords[th] + "</td></tr>";
          words_th = words_th + 1;
      }
  }

  //創建錄音條及功能
  function CreateDownloadLink() {
      recorder && recorder.exportWAV(function(blob) {
           var url = URL.createObjectURL(blob);
           var li = document.createElement('li');
           var au = document.createElement('audio');
           var hf = document.createElement('a');
           var download = document.createElement("button");
           var remove = document.createElement("button");
           var upload = document.createElement("button");
           var div = document.createElement("div");
           var word = document.createElement("div");
           var thisword = document.createElement("div");
           var theFirstChild = recordingslist.firstChild;
           var recog=document.createElement("li");
           var filename = new Date().toISOString(); //wav檔名
           var language = document.getElementById("language").language.value;
           var word_number;
           /*辨識相關
           $.ajax({
               url: 'recogResult',
               type: 'GET',
               error: function(xhr) {
                   alert('Ajax request 發生錯誤');
               },
               success: function(response) {
                   var recogResult=response;
                   var wait="正在辨識中..."
                   $('#recogResult').text(wait);
                   setTimeout(3000)
                   $('#recogResult').load('recogResult');
               }
           });
           */
           au.controls = true;
           au.src = url;
           hf.href = url;
           hf.download = filename + '.wav';
           hf.id = 'dl';
           hf.innerHTML = hf.download;
           word.innerHTML = "錄音內容: " + language + "," + words_th + "," + SELFwords[words_th];
           if(words_th < 10){
               word_number = "00" + words_th;
           }
           else if(words_th >= 10 && words_th < 100){
               word_number = "0" + words_th;
           }
           thisword.innerHTML = fileName + "_" + language + "_" + word_number + "_{{ rlt }}";
           download.innerHTML = "下載";
           download.onclick = function() {
               filename = thisword.innerHTML;
               hf.download = filename + '.wav';
               li.appendChild(hf);
               hf.click();
               li.removeChild(hf);
           };
           remove.innerHTML = "刪除";
           remove.onclick = function() {
               recordingslist.removeChild(li);
               recordingslist.removeChild(recog);
           };
           li.appendChild(word);
           li.appendChild(au);
           li.appendChild(download);
           li.appendChild(remove);
           div.innerHTML = "上傳成功";
           //uploadAudioFromBlob_recog(blob);
           upload.innerHTML = "上傳";
           upload.onclick = function(){
               uploadword(thisword.innerHTML);
               uploadAudioFromBlob(blob);
               li.appendChild(div)
           };
           li.appendChild(upload);
           recordingslist.insertBefore(li,theFirstChild);
        });
  }

  //開啟網頁時初始化
  window.onload = function init() {
     try {
         // webkit shim
         window.AudioContext = window.AudioContext || window.webkitAudioContext;
         navigator.getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia|| navigator.mozGetUserMedia || navigator.msGetUserMedia;
         window.URL = window.URL || window.webkitURL;
         audio_context = new AudioContext;
         __log('音頻文本設置');
         __log('navigator.getUserMedia ' + (navigator.getUserMedia ? '啟動' : '未啟動'));
     } catch (e) {
         alert('瀏覽器沒有音頻支援');
     }
     navigator.getUserMedia({audio: true}, startUserMedia, function(e) {
         __log('No live audio input: ' + e);
     });
     document.getElementById('file').onchange = readFile;
  };
</script>

</html>
