<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-teal.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style> 
input[type=text] {
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

input[type=text]:focus {
    border: 3px solid #555;
}
</style>

<head>
    <meta charset="UTF-8">
    <title>Recorder Web </title>
</head>


<div class="w3-container w3-padding-small w3-theme-d3">
	<br>
</div>
<body>
<div class="w3-container w3-theme w3-padding" id="myHeader">
  
  <div class="w3-padding-32 w3-center">
  <h4>The web to collect data  for recognization</h4>
  <h1 class="w3-xxxlarge w3-animate-opacity " style="  position:relative">Welcome !</h1>
  <p>
      此網站為了收集辨識用的data而創建，除了為了收集data而創建的"一秒停止功能"外<br>
      也提供其他錄音功能讓使用者能自行錄製不同長度及內容的音檔，<br>
      感謝您花費寶貴時間以及貢獻出您寶貴的聲音，製作團隊在此由衷感謝
  </p>
    <br>
    <div class="w3-display-container w3-margin-top">
      
      <form action="" method="post" class="w3-section">
      	<p class="w3-btn w3-xlarge " style="font-weight:900; background-color:#00796B">請輸入您的暱稱</p>
      	<br>
      	<tr><input type="text" name="q"></tr>
      	<br>
      	<br>
      	<tr><input type="submit" value="送出" class="w3-btn w3-xlarge w3-hover-light-grey" style="font-weight:900;background-color:#00796B"></tr>
      </form>
    </div>
  </div>
</div>

</body>
</html>